In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor,AdaBoostClassifier

In [3]:
df = pd.read_csv("transfusion.data").set_axis(labels=list(range(5)),axis=1)
df

      0   1      2   3  4
0     2  50  12500  98  1
1     0  13   3250  28  1
2     1  16   4000  35  1
3     2  20   5000  45  1
4     1  24   6000  77  0
..   ..  ..    ...  .. ..
743  23   2    500  38  0
744  21   2    500  52  0
745  23   3    750  62  0
746  39   1    250  39  0
747  72   1    250  72  0

[748 rows x 5 columns]

In [4]:
Y= df.pop(4)
df

      0   1      2   3
0     2  50  12500  98
1     0  13   3250  28
2     1  16   4000  35
3     2  20   5000  45
4     1  24   6000  77
..   ..  ..    ...  ..
743  23   2    500  38
744  21   2    500  52
745  23   3    750  62
746  39   1    250  39
747  72   1    250  72

[748 rows x 4 columns]

In [6]:
X = np.array(df)

min_max_scaler = MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X)

X_train, X_test, Y_train, Y_test = train_test_split(X_scaled, Y, test_size=0.2, random_state=42)
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(598, 4) (150, 4) (598,) (150,)

In [15]:
#ensemble methods(random forest here)
rf = RandomForestRegressor()
rf.fit(X_train, Y_train)
score = rf.score(X_test, Y_test)
print(score)

-0.06814053213637239

In [14]:
ad = AdaBoostClassifier()
ad.fit(X_train, Y_train)
score = ad.score(X_test, Y_test)
print(score)

0.8066666666666666